body {
  background-color: lightgray;
  font-family: 'Microsoft JhengHei';
}

.body-container {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top: -20px;
  margin-bottom: 0px;
  padding: 15px;
}

.body-footer {
  font-size: 12px;
  margin-bottom: 20px;
}

.home-section {
  margin-bottom: 30px;
}

.loader {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .photo-card {
    width: 49% !important;
  }
}

@media screen and (max-width: 700px) {
  .photo-card {
    width: 99% !important;
  }
}

.update-item {
  text-align: left;

  img {
    max-width: 200px;
  }
}

.user-icon {
  font-size: 24px;
  padding: 5px;
}